<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->
    <title><%= title%></title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><%=title%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tasks">Tasks</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="create">Create</a>
                </li>
            </ul>
        </div>
    </nav>

    <form class="needs-validation px-md-5 mt-2" action="/create" method="POST" >
        <div class="form-row">

            <div class="col-md-4 mb-6">
                <label for="validationTooltip01">Task name</label>
                <input type="text" class="form-control" name="taskName" id="validationTooltip01" value="Name" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Task description</label>
                <input type="text" class="form-control" name="taskDescription" id="validationTooltip02" value="Description" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Task date and time</label>
                <input type="datetime-local" class="form-control" name="taskDateTime" id="validationTooltip03" value="Da" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>

        </div>

        <button class="btn btn-primary" type="submit">Add task</button>
    </form>

</body>
</html>